{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template liftoff/liftoff_course_header

    This template renders the header.

    Example context (json):
    {
        "pageheadingbutton": "page_heading_button_html"
    }

    Course header.
}}
<div class="container-fluid lec-container">
    <header class="row justify-content-between lec-course-header">
        <div class="col-10">
            <div class="row-fluid">
                <div class="lec-align">
                    <h1 class="lec-course-fullname d-none d-inline-block"><a href="{{{ config.wwwroot }}}">{{{ fullname }}} </a></h1>
                    {{#summaryexists}}<div class="lec-course-summary">{{{summary}}}</div>{{/summaryexists}}
                </div>
            </div>
        </div>
        <div id="course-header" class="col-2">
            <div class="pull-right">
                {{{settingsmenu}}}
            </div>
        </div>
    </header>
    <div class="row mt-3 card pt-2 pb-0 pl-2 pr-2">{{{navbar}}}</div>
</div>