<!-- IDEA ! -->
<h2>Idea 1</h2>
<div class="spot-container">
    <div class="card text-white spot">
        <img class="card-img" src="http://placekitten.com//200/100" alt="Card image">
        <div class="card-img-overlay">
          <a class="btn card-text">Test explaining this link</a>
        </div>
    </div>
    <div class="card text-white spot">
        <img class="card-img" src="http://placekitten.com//200/100" alt="Card image">
        <div class="card-img-overlay">
          <a class="btn card-text">Test explaining this link</a>
        </div>
    </div>
    <div class="card text-white spot">
        <img class="card-img" src="http://placekitten.com//200/100" alt="Card image">
        <div class="card-img-overlay">
          <a class="btn card-text">Test explaining this link</a>
        </div>
    </div><div class="card text-white spot">
        <img class="card-img" src="http://placekitten.com//200/100" alt="Card image">
        <div class="card-img-overlay">
          <a class="btn card-text">Test explaining this link</a>
        </div>
    </div><div class="card text-white spot">
        <img class="card-img" src="http://placekitten.com//200/100" alt="Card image">
        <div class="card-img-overlay">
          <a class="btn card-text">Test explaining this link</a>
        </div>
    </div><div class="card text-white spot">
        <img class="card-img" src="http://placekitten.com//200/100" alt="Card image">
        <div class="card-img-overlay">
          <a class="btn card-text">Test explaining this link</a>
        </div>
    </div><div class="card text-white spot">
        <img class="card-img" src="http://placekitten.com//200/100" alt="Card image">
        <div class="card-img-overlay">
          <a class="btn card-text">Test explaining this link</a>
        </div>
    </div><div class="card text-white spot">
        <img class="card-img" src="http://placekitten.com//200/100" alt="Card image">
        <div class="card-img-overlay">
          <a class="btn card-text">Test explaining this link</a>
        </div>
    </div><div class="card text-white spot">
        <img class="card-img" src="http://placekitten.com//200/100" alt="Card image">
        <div class="card-img-overlay">
          <a class="btn card-text">Test explaining this link</a>
        </div>
    </div><div class="card text-white spot">
        <img class="card-img" src="http://placekitten.com//200/100" alt="Card image">
        <div class="card-img-overlay">
          <a class="btn card-text">Test explaining this link</a>
        </div>
    </div><div class="card text-white spot">
        <img class="card-img" src="http://placekitten.com//200/100" alt="Card image">
        <div class="card-img-overlay">
          <a class="btn card-text">Test explaining this link</a>
        </div>
    </div><div class="card text-white spot">
        <img class="card-img" src="http://placekitten.com//200/100" alt="Card image">
        <div class="card-img-overlay">
          <a class="btn card-text">Test explaining this link</a>
        </div>
    </div>
</div>

<!-- IDEAS 2 -->

<h2>Idea 2</h2>

<div class="marketing-tiles card-columns">


    <div class="card text-white">
        <img class="card-img" src="http://placekitten.com/g/150/150" alt="Card image">
        <div class="card-img-overlay">
            <h5 class="card-title">Title</h5>
             <p class="card-text">Test explaining this link</p>
             <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card text-white">
        <img class="card-img" src="http://placekitten.com//200/200" alt="Card image">
        <div class="card-img-overlay">
            <h5 class="card-title">Title</h5>
             <p class="card-text">Test explaining this link</p>
             <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card">
        <h5 class="card-header">Featured</h5>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card text-white">
        <img class="card-img" src="http://placekitten.com/408/287" alt="Card image">
        <div class="card-img-overlay">
            <h5 class="card-title">Title</h5>
             <p class="card-text">Test explaining this link</p>
             <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card bg-dark text-white text-center">
        <blockquote class="blockquote mb-0">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
        </blockquote>
    </div>

     <div class="card text-white">
        <img class="card-img" src="http://placekitten.com//190/190" alt="Card image">
        <div class="card-img-overlay">
            <h5 class="card-title">Title</h5>
             <p class="card-text">Test explaining this link</p>
             <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

     <div class="card text-white">
        <img class="card-img" src="http://placekitten.com/g/150/150" alt="Card image">
        <div class="card-img-overlay">
            <h5 class="card-title">Title</h5>
             <p class="card-text">Test explaining this link</p>
             <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card text-white">
        <img class="card-img" src="http://placekitten.com/300/250" alt="Card image">
        <div class="card-img-overlay">
            <h5 class="card-title">Title</h5>
             <p class="card-text">Test explaining this link</p>
             <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
  

</div>